<div class="row-3">
  <div class="col-md-8 offset-md-2">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenido a tu biblioteca!!</h1>
      <hr class="my-4">
      <h4>Administra tus libros y controla tu inventario</h4>
      <%= link_to 'ir a Detalle', books_path, class: "btn btn-primary boton"  %>
    </div>
    
  </div>
  
</div>
<div class="row-3 biblio">
  <div class="col-md-8 offset-md-2">
    <% @books.each do |book| %>
      <div class="row">
        <div class="col-md-12"><h3><%= book.title%></h3></div>
          <div class="col-md-12 small"><span><strong>Escrito por:</strong> <span class="font-weight-light"><%= book.author %></span></span>
          <span><strong>Estado del libro </strong> <span class="font-weight-light"><%=book.status %></span></span>
        </div>
        <div class="col-md-12"><p>Género:<%= book.gener%></p></div>
      
      </div>
  
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= paginate @books %>
  </div>
</div>